/* Album Page External Style Sheet */

table	{
	width: 90%;
	border-collapse: collapse;
	margin: auto;
}

tr	{
	text-align: center;
}

tr, td, th {
	border: 1px solid black;
}

#cursive {
	font-family: cursive, fantasy;
	font-size: x-large;
}