/* Restaurant page External Style Sheet */

#header {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	font-family: cursive, fantasy;
}

#footer {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 200%; 
}

.navigation {
	border-spacing: 15px 0px;
	border-collapse: separate;
	padding-left: 20px;
}

hr {
	width: 100%;
}