/* Album Page External Style Sheet */

table	{
	width: 90%;
	border-collapse: collapse;
	margin: auto;
}

tbody {
	background-color: #FDCB8E;
	font-style: italic;
}

tr	{
	text-align: center;
}

tr, td, th {
	border: 1px solid black;
}

#cursive {
	font-family: cursive, fantasy;
	font-size: x-large;
}

a {
	text-decoration: none;
}

a:link {

}

a:visited {

}

a:hover {
	text-decoration: underline;
	background-color: #4ddb48;
}

a:active {

}