/* Restaurant page External Style Sheet */

#header {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

#footer {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 200%; 
}

hr {
	width: 100%;
}